<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <% include ./partials/css.ejs %>
    
    <% include ./partials/script.ejs %>
    
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

	<!-- Header/Navigation -->
	<% include ./partials/navigation.ejs %>


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <div class="view-header">
                        <div class="pull-right text-right" style="line-height: 14px">
                            <small>UI Elements<br>General<br> <span class="c-white">Progress</span></small>
                        </div>
                        <div class="header-icon">
                            <i class="pe page-header-icon pe-7s-next-2"></i>
                        </div>
                        <div class="header-title">
                            <h3>Requested Successfully</h3>
                            <small>
                                Check your request details.
                            </small>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="row">

                <div class="col-md-8">

                    <div class="panel">
                        <div class="panel-heading">
                            Wait for the process 
                            <i class="fa fa-hourglass-2"></i> 
                        </div>
                        <div class="panel-body">
                            All data was sent to MoBIG. <br/>
                            It may take about <u><b><big>10~30</big> minutes.</b></u> <br/>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-8">

                    <div class="panel panel-filled panel-c-accent">
                        <div class="panel-heading">
                            <h4>Requested Data <small>(by <%=req_data.user_name%>)</small><br/>
                                <small>Req No. <b><%=req_data.req_id%></b> - 
                                    <i class="fa fa-clock-o"></i> <%=req_data.req_dtm %>
                                </small>
                            </h4>
                        </div>
                        <div class="panel-body">
                            
                            
                            <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Category</th>
                                        <th>Data</th>
                                        <th>Term of Data</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                <% for (i=0;i<grpId.length;i++){ %>    
                                    <tr>
                                        <th scope="row"><%=i+1%></th>
                                        <td><%=grpId[i][0]%></td>
                                        <td><%=grpId[i][1]%></td>
                                        <td><%=req_data.sta_ym%>~<%=req_data.end_ym%></td>
                                    </tr>
                                <% } %>
                                    </tbody>
                                </table>
                            
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="row">

                <div class="col-md-8">

                    <div class="panel">
                        <div class="panel-heading">
                            Thanks for using MoBIG !
                        </div>
                        <div class="panel-body">
                            * Click <b>"Make New Data"</b>, 
                            or <b>"Check My Data"</b>
                        </div>
                        <div class="panel-footer pull-right">
                            <a href="../mvnodata">
                                <button class="btn btn-lg btn-default" type="button">
                                    <i class="fa fa-sticky-note"></i> 
                                    <span class="bold">Make New Data</span>
                                </button>
                            </a>
                            <a href="../mydata">
                                <button class="btn btn-lg btn-default" type="button">
                                    <i class="fa fa-database"></i> 
                                    <span class="bold">Check My Data</span>
                                </button>                
                            </a>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<!-- Vendor scripts -->
<script src="vendor/pacejs/pace.min.js"></script>
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- App scripts -->
<script src="scripts/luna.js"></script>

</body>

</html>