<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>-->
    <% include ./partials/css.ejs %>
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jquery-ui/themes/humanity/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jqGrid/css/ui.jqgrid.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/vendor/jqGrid/plugins/ui.multiselect.css"/>


    <% include ./partials/script.ejs %>
    <script src="/vendor/jqGrid/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="/vendor/jqGrid/js/i18n/grid.locale-kr.js" type="text/javascript"></script>
    <script src="/vendor/jqGrid/js/jquery.jqGrid.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $.jgrid.no_legacy_api=true;
        $.jgrid.useJSON = true;
    </script>
    <script type="text/javascript">

    function yyyymm (cellvalue, options, rowdata, action  ){
        return cellvalue.substring(0,4)+'/'+cellvalue.substring(4,6); 
        
    }

    var prevCellVal = { cellId: undefined, value: undefined };

    var form = function(rowId, val, rawObject, cm, rdata) {
    
        var result;
        if (prevCellVal.value == val) {
           result = ' style="display: none" rowspanid="' + prevCellVal.cellId + '"';
        } else {
           var cellId = this.id + '_row_' + rowId + '_' + cm.name;
           result = ' rowspan="1" id="' + cellId + '"';
           prevCellVal = { cellId: cellId, value: val };
        }
        return result;
    
    };

    $(function(){
         
            
        var mydata = <%-rslt_json%>,
        $grid = $("#list");
        
        //요청 데이터 마지막이 CC_DATA이거나 다음 요청 유형이 CC_DATA가 아닌 경우 '건수'표기추가
        var myHeader = ['Date'
        <% for (var i=0; i < req_list.length; i++) { %>
            ,'<%=req_list[i].column_nm%>'
            <% if (req_list[i].table_nm == "CC_DATA" ){ %>
                <% if (req_list.length == i+1){ %>
                    ,'건수'
                <% }else if (req_list[i+1].table_nm != "CC_DATA"){ %>
                    ,'건수'
                <% } %>    
            <% } %>
        <% } %>
            ];
        
        $grid.jqGrid({
            datatype: 'local',
            data : mydata,
            colNames: myHeader,
            colModel: [
                {name:'data_yymm', index:'data_yymm', align:'center', frozen:true, formatter: yyyymm, cellattr:form, width:140}
                <% for (var i=0; i < req_list.length; i++) { %>
                    <% if (req_list[i].table_nm == "CC_DATA" ){ %>
                        ,{name:'rslt_ctt<%=i+1%>', index:'rslt_ctt<%=i+1%>', align:'center', frozen:true, width:240 }
                        <% if (req_list.length == i+1){ %>
                            ,{name:'rslt_cnt<%=i+1%>', index:'rslt_cnt<%=i+1%>', align:'center', frozen:true, width:140, formatter:'currency', formatoptions:{thousandsSeparator:",", decimalPlaces: 0, defaultValue:0}}
                        <% }else if (req_list[i+1].table_nm != "CC_DATA"){ %>
                            ,{name:'rslt_cnt<%=i+1%>', index:'rslt_cnt<%=i+1%>', align:'center', frozen:true, width:140,formatter:'currency', formatoptions:{thousandsSeparator:",", decimalPlaces: 0, defaultValue:0}}
                        <% } %>    
                    <% }else{ %>
                        ,{name:'rslt_cnt<%=i+1%>', index:'rslt_cnt<%=i+1%>', align:'center', frozen:true, width:140,formatter:'currency', formatoptions:{thousandsSeparator:",", decimalPlaces: 0, defaultValue:0}}
                    <% } %>
                <% } %>                
                ],
                gridComplete: function() {  // 그리드 생성 후 호출되는 이벤트
                    var grid = this;
                    $('td[rowspan="1"]', grid).each(function () {
                      var spans = $('td[rowspanid="' + this.id + '"]', grid).length + 1;
                      if (spans > 1) {
                        $(this).attr('rowspan', spans);
                      }
                    });
                },
                cmTemplate: { sortable: false }, //sort false
               	rowNum:100,
               	rowList:[100,200,300],
               	width: '100%',
               	pager: '#pager',
               	gridview:true,
               	rownumbers:true,
               	sortable : false,
               	multiselect : false,
               	sortname: 'id',
                viewrecords: true,
                scrollOffset : 0,
                cellEdit: true,
                sortorder: "desc",
                caption:"",
                height:'100%',
                shrinkToFit:true,
                loadonce:true
        });
        
    });
    jQuery("#list").jqGrid('navGrid','#pager',{edit:false,add:false,del:false});


    
    
</script>    
</head>
<body>

<!-- Wrapper-->
<div class="wrapper">

	<!-- Header/Navigation -->
	<% include ./partials/navigation.ejs %>


    <!-- Main content-->
    <section class="content">
        <div class="container-fluid">

            <div class="row m-t-sm">

                <div class="col-md-12">
                    <div class="panel panel-filled">

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="media">
                                        <i class="pe pe-7s-graph2 c-accent fa-3x"></i>
                                        <h2 class="m-t-xs m-b-none">
                                            MOVIOS Big Data Report
                                        </h2>
                                        <small>
                                            Results of Data Analysing
                                        </small>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <table class="table small m-t-sm">
                                        <tbody>
                                        <tr>
                                            <td>
                                                사업자코드 <strong class="c-white">122</strong> raw data
                                            </td>
                                            <td>
                                                단말기모델코드 <strong class="c-white">42</strong> raw data
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                신규가입월 <strong class="c-white">61</strong> raw data
                                            </td>
                                            <td>
                                                요금제코드 <strong class="c-white">84</strong> raw data
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                음성 <strong class="c-white">244</strong> raw data
                                            </td>
                                            <td>
                                                DATA <strong class="c-white">42</strong> raw data
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3 m-t-sm">
                                <span class="c-white">
                                    <i class="pe pe-7s-share c-accent fa-1x"></i> Share this report
                                </span>
                                    <br>
                                    <small>
                                         
                                    </small>
                                    <div class="btn-group m-t-sm">
                                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal1"><i class="fa fa-envelope"></i> mvno_tester@sk.com</button>
                                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#myModal2"><i class="fa fa-check"></i> Other email</button>
                                        <!--<a href="#" class="btn btn-default btn-sm"><i class="fa fa-envelope"></i> mvno_tester@sk.com</a>-->
                                        <!--<a href="#" class="btn btn-default btn-sm"><i class="fa fa-check"></i> Other e-mail</a>-->
                                    </div>

                                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title"><i class="pe pe-7s-share c-accent fa-1x"></i> Share this report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Send this report to <a href="mailto:#">mvno_tester@sk.com</a></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-accent">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title"><i class="pe pe-7s-share c-accent fa-1x"></i> Share this report</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                      Enter new email address
                                                      <form class="form-horizontal">
                                                          <div class="form-group"><label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                                                              <div class="col-sm-10"><input type="email" class="form-control" id="inputEmail3" placeholder="Email"></div>
                                                          </div>
                                                      </form>
                                                    </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                    <button type="button" class="btn btn-accent">Confirm</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h4 class="modal-title">Detail View</h4>
                                                    <!--<small>Lorem Ipsum is simply dummy text.</small>-->
                                                </div>
                                                <div class="modal-body">
                                                    <p>결과 상세내역 조회(준비중)</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <!--<button type="button" class="btn btn-accent">Save changes</button>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                    
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <!-- start chart -->
                
                <div class="col-md-12">
                    <h4><i class="pe pe-7s-check c-accent fa-1x"></i> Main report</h4>
                    <p class="small" style="color: #FFFFFF">2017년 1월~12월까지의 월별가입자, 정산금액, 청구금액 추이</p>
                    <canvas id="lineOptions" height="100px"></canvas>
                </div>  
                <!-- end chart -->                
                <!-- start main_report -->
                <div class="col-md-8" id="grid_div">
                    <div class="panel">

                        <div class="panel-body">
                            <h4><i class="pe pe-7s-check c-accent fa-1x"></i> Results Data</h4>
                            <!--<div class="flot-chart  m-t-md m-b-xl" style="height: 200px">-->
                            <!--    <div class="flot-chart-content" id="flotProfile"></div>-->
                            <!--</div>-->
                            
                            <!-- GRID -->
                            <div style="clear:left">
                                <table id="list"  class="table table-striped" style=" width:100%">
                                    <tr><td/></tr>
                                </table>
                                <div id="pager"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end main_report -->
                
                <!--start activity-->
                <div class="col-md-4">

                    <div class="panel">
                        <div class="panel-body">
                            <h4> Data Analysing Activity</h4>

                            <div class="v-timeline vertical-container">
                              
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon">
                                        <i class="fa fa-cloud-download"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <div class="p-sm">
                                            <span class="vertical-date pull-right"> <small><i class="fa fa-clock-o"></i> 2017-12-04 12:40:10</small> </span>

                                            <h2>Dowload Big Data results</h2>

                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon">
                                        <i class="fa fa-cogs"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <div class="p-sm">
                                            <span class="vertical-date pull-right"> <small><i class="fa fa-clock-o"></i> 2017-12-04 12:40:00</small> </span>

                                            <h2>Analyse Big Data</h2>

                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon">
                                        <i class="fa fa-cloud-upload"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <div class="p-sm">
                                            <span class="vertical-date pull-right"> <small><i class="fa fa-clock-o"></i> 2017-12-04 12:30:20</small> </span>

                                            <h2>Upload items to Cloud</h2>

                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="vertical-timeline-block">
                                    <div class="vertical-timeline-icon">
                                        <i class="fa fa-cart-plus"></i>
                                    </div>
                                    <div class="vertical-timeline-content">
                                        <div class="p-sm">
                                            <span class="vertical-date pull-right"> <small><i class="fa fa-clock-o"></i> 2017-12-04 12:30:00</small> </span>

                                            <h2>Check out selected items</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--end activity-->

            </div>


            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-filled">

                        <div class="panel-body">
                          <h4><i class="pe pe-7s-check c-accent fa-1x"></i> Sub report</h4>
                          
                          <p class="small" style="color: #FFFFFF">연관자료 분석 결과 추가 제공
                          </p>
                            
                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-6">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~12월까지의 사업자별 청구금액(누적)</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/inv_tot.png" width="90%" data-toggle="modal" data-target="#imgModal1" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~12월까지의 사업자별 청구금액(누적)</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/inv_tot.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-6">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~12월까지의 사업자별 청구금액</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/inv_tot2.png" width="90%" data-toggle="modal" data-target="#imgModal2" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                            </div>         
                                <div class="modal fade" id="imgModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~12월까지의 사업자별 청구금액</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/inv_tot2.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>                   
                            
                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~12월까지의 사업자별 신규가입자 현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/scrb_users.png" width="90%"  data-toggle="modal" data-target="#imgModal3" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal3" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~12월까지의 사업자별 신규가입자 현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/scrb_users.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~12월까지의 사업자별 해지자 현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/term_users.png" width="90%"  data-toggle="modal" data-target="#imgModal4" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal4" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~12월까지의 사업자별 해지자 현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/term_users.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>  
                                
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~12월까지의 사업자별 증감비율(신규가입자-해지자)</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/total_users.png" width="90%" data-toggle="modal" data-target="#imgModal5" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal5" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~12월까지의 사업자별 증감비율(신규가입자-해지자)</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/total_users.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~10월까지의 사업자별 R/S 정산금액 누적영역그래프</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/stl_rs.png" width="90%" data-toggle="modal" data-target="#imgModal6" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal6" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~10월까지의 사업자별 R/S 정산금액 누적영역그래프</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/stl_rs.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~10월까지의 사업자별 도매대가 정산금액 누적영역그래프</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/stl_wsale.png" width="90%" data-toggle="modal" data-target="#imgModal7" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal7" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~10월까지의 사업자별 도매대가 정산금액 누적영역그래프</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/stl_wsale.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 1월~10월까지의 사업자별 총 정산금액 누적영역 그래프(도매대가+R/S)</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/stl_tot.png" width="90%" data-toggle="modal" data-target="#imgModal8" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal8" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 1월~10월까지의 사업자별 총 정산금액 누적영역 그래프(도매대가+R/S)</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/stl_tot.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 MVNO 가입자의 단말기 모델별 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/eqp_ranking.png" width="90%" data-toggle="modal" data-target="#imgModal9" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal9" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 MVNO 가입자의 단말기 모델별 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/eqp_ranking.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 UVO 가입자의 기본요금제 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/uvo.png" width="90%" data-toggle="modal" data-target="#imgModal10" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal10" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 UVO 가입자의 기본요금제 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/uvo.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 이마트 가입자의 기본요금제 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/emrt.png" width="90%" data-toggle="modal" data-target="#imgModal11" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal11" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 이마트 가입자의 기본요금제 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/emrt.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 SK텔링크 후불 가입자의 기본요금제 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/sktl.png" width="90%" data-toggle="modal" data-target="#imgModal12" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal12" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 SK텔링크 후불 가입자의 기본요금제 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/sktl.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 CJ헬로 후불 가입자의 기본요금제 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/cjhv.png" width="90%" data-toggle="modal" data-target="#imgModal13" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal13" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 CJ헬로 후불 가입자의 기본요금제 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/cjhv.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>2017년 에스원 후불 가입자의 기본요금제 사용현황</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/sone.png" width="90%" data-toggle="modal" data-target="#imgModal14" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal14" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">2017년 에스원 후불 가입자의 기본요금제 사용현황</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/sone.png" width="60%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row" style="background-color: #FFFFFF">
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>월별 총 청구금액대비 R/S 정산금액 비율</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/inv_stl_total.png" width="90%" data-toggle="modal" data-target="#imgModal15" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal15" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">월별 총 청구금액대비 R/S 정산금액 비율</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/inv_stl_total.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>청구데이터의 데이터사용료와 정산데이터의 R/S정산금액 분포도<</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/Rplot_2.png" width="90%" data-toggle="modal" data-target="#imgModal16" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal16" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">청구데이터의 데이터사용료와 정산데이터의 R/S정산금액 분포도</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/Rplot_2.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-heading" style="color: #000000">
                                            <ul><li>총 청구금액과 데이터사용료 상관관계도</li><ul>
                                        </div>
                                        <div class="panel-body">
                                            <img class="img" src="/images/rstudio-export/Rplot_3.png" width="90%" data-toggle="modal" data-target="#imgModal17" onmouseover="" style="cursor: pointer;">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="imgModal17" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h4 class="modal-title">총 청구금액과 데이터사용료 상관관계도</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p align="center"><img class="img" src="/images/rstudio-export/Rplot_3.png" width="90%"></p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- End main content-->

</div>
<!-- End wrapper-->

<script>
    $(document).ready(function () {
        /**
         * Options for Line chart
         */

        var globalOptions = {
            layout: {
                padding: {
                    left: 0,
                    right: 50,
                    top: 0,
                    bottom: 0
                }
            },            
            responsive: true,
            legend: {
                labels:{
                    fontColor:"#90969D"
                }
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: "#90969D"
                    },
                    gridLines: {
                        color: "#37393F"
                    }
                }],
                yAxes: [{
                    ticks: {
                        fontColor: "#90969D"
                    },
                    gridLines: {
                        color: "#37393F"
                    }
                }]
            }
        };


        var charColor = new Array();
        charColor[0] = "#f6a821";
        charColor[1] = "#676B73";
        charColor[2] = "rgba(255,99,132,1)";
        
        var lineData = {
            //labels: ["201701","201702","201703","201704","201705","201706","201707","201708","201709","201710"],//,"201711","201712"],
            labels:
            [
            <% for (var i=0; i < rslt_list.length; i++) { %>
                <% if (i > 0){ %>
                    ,
                <% } %>
                "<%=rslt_list[i].data_yymm%><%=rslt_list[i].rslt_ctt1%><%=rslt_list[i].rslt_ctt2%><%=rslt_list[i].rslt_ctt3%>"
            <% } %>
            ],
            datasets: [
           <% var cnt = 0; %>
           <% for (var i=0; i < req_list.length; i++) { %>
                <% if (req_list[i].table_nm == "CC_DATA" ){ %>
                    <% if (req_list.length == i+1){ %>
                        <% if (cnt > 0) {%> 
                            ,{ 
                        <% }else{ %> 
                             {
                        <% } %>
                            label: "건수",
                    <% }else if (req_list[i+1].table_nm != "CC_DATA"){ %>
                        <% if (cnt > 0) {%> ,<%}%>
                        <% if (cnt > 0) {%> 
                            ,{ 
                        <% }else{ %> 
                             {
                        <% } %>
                            label: "건수",
                    <% }else{ 
                        continue;
                       } 
                    %>
                <% }else{ %>
                    <% if (cnt > 0) {%> 
                        ,{ 
                    <% }else{ %> 
                         {
                    <% } %>
                        label: "<%=req_list[i].column_nm%>",
                <% } %>
                <% cnt++; %>
                backgroundColor: 'transparent',
                borderColor: charColor[<%=i%>],
                pointBorderWidth: 0,
                pointRadius: 2,
                pointBorderColor: charColor[<%=i%>],
                borderWidth: 1,                
                data:[
                <% for (var j=0; j < rslt_list.length; j++) { %>
                    <% if (j != 0){ %>,<% } %>
                    <% if (i == 0) {%><%=rslt_list[j].rslt_cnt1%><% } %>
                    <% if (i == 1) {%><%=rslt_list[j].rslt_cnt2%><% } %>
                    <% if (i == 2) {%><%=rslt_list[j].rslt_cnt3%><% } %>
                <% } %>                    
                    ]
                }
            <% } %>
                
                // {
                //     label: "월별가입자(1000명)", //건수
                //     backgroundColor: 'transparent',
                //     borderColor: "#f6a821",
                //     pointBorderWidth: 0,
                //     pointRadius: 2,
                //     pointBorderColor: '#f6a821',
                //     borderWidth: 1,
                //     data:  [131,
                //             117,
                //             141,
                //             104,
                //             105,
                //             118,
                //             115,
                //             112,
                //             99,
                //             103]
                //             // 108,
                //             // 19] 
                // },
                // {
                //     label: "청구금액(1억원)", //DATA
                //     backgroundColor: 'transparent',
                //     borderColor: "#676B73",
                //     pointBorderWidth: 0,
                //     pointRadius: 2,
                //     pointBorderColor: '#676B73',
                //     borderWidth: 1,
                //     data:  [268,
                //             266,
                //             275,
                //             273,
                //             280,
                //             277,
                //             277,
                //             273,
                //             266,
                //             263]
                //             // 21,
                //             // 3]
                // }
                // ,
                // {
                //     label: "정산금액(1천만원)", //청구금액
                //     backgroundColor: 'transparent',
                //     borderColor: 'rgba(255,99,132,1)',
                //     pointBorderWidth: 0,
                //     pointRadius: 2,
                //     pointBorderColor: 'rgba(255,99,132,1)',
                //     borderWidth: 1,
                //     data:  [322,
                //             321,
                //             325,
                //             323,
                //             317,
                //             313,
                //             285,
                //             280,
                //             276,
                //             272]
                //             // 0,
                //             // 0]
                // }
            ]
        };

        var c1 = document.getElementById("lineOptions").getContext("2d");
        new Chart(c1, {type: 'line', data: lineData, options: globalOptions});
    });
    
    // $(document).ready(function () {


    //     var data = [
    //         {
    //             data: [ [1, 4], [2, 5], [3, 7], [4, 4], [5, 8], [6, 9],[7, 11], [8, 10], [9, 8], [10, 5], [11, 4], [12, 3] ]
    //         }
    //     ];

    //     var chartUsersOptions2 = {
    //         series: {
    //             splines: {
    //                 show: true,
    //                 tension: 0.4,
    //                 lineWidth: 2,
    //                 fill: false
    //             },
    //         },
    //         legend: {
    //             show: false
    //         },
    //         grid: {
    //             borderWidth: 0
    //         }
    //     };

    //     $.plot($("#flotProfile"), data, chartUsersOptions2);

    // });


    // $(document).ready(function () {

    //     var data1 = [ [0, 3], [1, 6], [2, 8], [3, 9], [4, 12], [5, 14], [6, 15], [7, 12],
    //         [8, 14], [9, 12], [10, 11], [11, 10], [12, 14], [13, 16], [14, 15], [15, 15],
    //         [16, 16], [17, 12], [18, 13], [19, 15], [20, 16], [21, 18], [22, 20], [23, 23],
    //         [24, 22], [25, 21], [26, 20], [27, 17], [28, 15], [29, 14], [30, 13], [31, 10]];

    //     var chartUsersOptions = {
    //         points: {
    //             show: true,
    //             fill: true,
    //             lineWidth: 1,
    //             fillColor: "#f6a821"
    //         },
    //         grid: {
    //             borderWidth: 0
    //         }
    //     };

    //     $.plot($("#flotExample1"), [data1], chartUsersOptions);


    //     var chartUsersOptions = {
    //         lines: {
    //             show: true,
    //             fill: false,
    //             lineWidth: 2,
    //             fillColor: "#f6a821"
    //         },
    //         grid: {
    //             borderWidth: 0
    //         }
    //     };

    //     $.plot($("#flotExample2"), [data1], chartUsersOptions);


    // });    




</script>

</body>

</html>